:root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --gray: #666666;
    --light-gray: #dbd5d5;

    --font-main: "Karma", serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
    font-family: var(--font-main);
}
.header img{
    width:20px;
    height: 20px;
}
.header p{
    font-size: x-large;
}

.food-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 40px;
    margin-top: 80px;
}
.food-section div{
    width:290px;
}

.image{
    width:290px;
    height:400px;
}

.big-font{
    font-size: x-large;
    text-align: center;
}
.small-font{
    margin: 20px 0px;
    text-align: center;
    font-size:large;
}

.page-number{
    margin: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.one{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 16px;
}
.one:hover{
    background-color: var(--gray);
    cursor:pointer;
}
.hover-black:hover{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--light-gray);
  margin: 20px 0;
}